upstream wsgi_server {
  # fail_timeout=0 means we always retry an upstream even if it failed
  # to return a good HTTP response (in case the Unicorn master nukes a
  # single worker for timing out).

  server {{ upstream_addr }};
  # server unix:{{ virtualenv_path }}/run/gunicorn.sock;
}

server {
    listen 80 default;
    client_max_body_size 4G;
    server_name {{ nginx_server_name }};

    keepalive_timeout 5;


    access_log {{ nginx_access_log_file }};
    error_log {{ nginx_error_log_file }};

    location /static/ {
        alias   {{ nginx_static_dir }};
    }

    location /media/ {
        alias   {{ nginx_media_dir }};
    }
    location / {
        if (-f {{ virtualenv_path }}/maintenance_on.html) {
            return 503;
        }
        # checks for static file, if not found proxy to app
        try_files $uri @proxy_to_app;
    }

    location @proxy_to_app {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;

        proxy_pass   http://wsgi_server;
    }

    error_page 500 502 503 504 /500.html;
    location = /500.html {
        root {{ application_path }}/templates/;
    }
    error_page 503 /maintenance_on.html;
    location = /maintenance_on.html {
        root {{ virtualenv_path }}/;
    }
}